@using PPVR.WebApp.Resources
@{
    ViewBag.Title = Labels.Relatorios;
}

<h2>@ViewBag.Title</h2>
<hr>

<div class="row">
    <div class="col-md-12">
        <p>@Html.ActionLink(Labels.RelatorioOcorrenciasTipoPropaganda, "OcorrenciasTipoPropaganda")</p>
        <p>@Html.ActionLink(Labels.RelatorioValoresGastosTipoOcorrencia, "ValoresGastosTipoOcorrencia")</p>
    </div>
</div>