@using PPVR.WebApp.Resources
@{
    ViewBag.Title = Labels.Relatorios;
}

<h2>@ViewBag.Title</h2>
<hr>

<div class="row">
    <div class="col-md-12">
        @Html.ActionLink(Labels.RelatorioOcorrenciasTipoPropaganda, "OcorrenciasTipoPropaganda")
    </div>
</div>