@using PPVR.WebApp.Resources
@{
    ViewBag.Title = Labels.Relatorios;
}

<h2>@ViewBag.Title</h2>
<hr>

<div class="row">
    <div class="col-md-12">
        <p>Relatório 1</p>
        <p>Relatório 2</p>
    </div>
</div>