@using PPVR.WebApp.Resources
@model PPVR.WebApp.ViewModels.Account.LoginViewModel

@{
    ViewBag.Title = Labels.PropagandaPolíticaValorReal;
}

<div class="jumbotron">
    <div class="row">
        <div class="col-md-3">
        </div>
        <div class="col-md-6" style="background-color: #ffffff;">
            @using (Html.BeginForm("UploadPicture", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <div class="btn btn-default">
                    <input id="upload-picture" name="file" type="file" />
                </div>
                <input class="btn btn-primary" type="submit" value="@Labels.Salvar" />
            }
        </div>
        <div class="col-md-3">
        </div>
    </div>
</div>