@using PPVR.WebApp.Resources
@{
    ViewBag.Title = Labels.Sobre;
}
<h2>@ViewBag.Title</h2>
<h3>Informações sobre o Aplicativo</h3>

<p>
    Trabalho de conclusão de curso feito por Filippo Bretas Maroni e Gabriel Vinícius Gonzaga dos Santos, alunos do curso de graduação em Ciência da Computação do Centro Universitário de Belo Horizonte (UNI-BH).
</p>